{include file="public/_meta"}
<title>项目动态列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 项目动态管理 <span
        class="c-gray en">&gt;</span> 动态列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;" onclick="job_del_batch(this)"
                                                               class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span>
        <span
                class="r"></div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="40">ID</th>
                <th width="80">项目名称</th>
                <th width="130">已完成工作</th>
                <th width="120">未完成工作</th>
                <th width="120">需要协调工作</th>
                <th width="130">回复处理</th>
                <th width="50">用户名</th>
                <th width="50">状态</th>
                <th width="110">创建时间</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='job_rows' id='vo'}
            <tr class="text-c">
                <td><input type="checkbox" value="{$vo.job_id}" name="job_ids[]"></td>
                <td>{$vo.job_id}</td>
                <td><u style="cursor:pointer" class="text-primary"
                                    onClick="detail('项目动态详情','/admin/Job/detail/job_id/{$vo.job_id}','800','600')" title="查看">{$vo.jobname}</u></td>
                <td>{$vo.jobready}</td>
                <td>{$vo.jobnone}</td>
                <td>{$vo.jobneed}</td>
                <td>{$vo.jobreplay}</td>
                <td><u style="cursor:pointer" class="text-primary"
                                     onClick="user_detail('用户详情','/admin/User/detail/user_id/{$vo.user_id}','800','600')" title="查看">{$vo.username}</u></td>
                <td>{$vo.status_name}</td>
                <td>{$vo.createtime}</td>
                <td class="f-14 td-manage">
                    <a style="text-decoration:none" class="ml-5"
                       onClick="replay('回复处理','/admin/Job/replay/job_id/{$vo.job_id}','800','500')"
                       href="javascript:;" title="处理"><i class="Hui-iconfont">&#xe63c;</i></a><a
                        style="text-decoration:none" class="ml-5"
                        onClick="job_del(this,'{$vo.job_id}')"
                        href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/volist}

            </tbody>
        </table>
        <div style="float: right">{$job_rows->render()}</div>
    </div>
</div>
{include file="public/_footer"}

<script type="text/javascript">
    function detail(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    function user_detail(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    function article_edit(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    function replay(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    function comment_del_batch(obj) {
        var ids = get_checkbox_value('comment_ids[]');
        if (!ids) {
            layer.msg('请选择要删除的项', {icon: 1, time: 1000});
        } else {
            layer.confirm('确认要删除多行数据吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/Comment/deleteExe',
                    dataType: 'json',
                    data: {comment_id: ids},
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                                close_windows();
                            })

                        } else if (data.code == 0) {
                            layer.msg(data.msg, {icon: 2, time: 1000})
                        }
                    }
                });
            });
        }
    }

    function job_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '/admin/Job/deleteExe',
                dataType: 'json',
                data: {job_id: id},
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                            close_windows();
                        })

                    } else if (data.code == 0) {
                        layer.msg(data.msg, {icon: 2, time: 1000})
                    }
                }
            });
        });
    }

    function job_del_batch(obj) {
        var ids = get_checkbox_value('job_ids[]');
        if (!ids) {
            layer.msg('请选择要删除的项', {icon: 1, time: 1000});
        } else {
            layer.confirm('确认要删除多行数据吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/Job/deleteExe',
                    dataType: 'json',
                    data: {job_id: ids},
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                                close_windows();
                            })

                        } else if (data.code == 0) {
                            layer.msg(data.msg, {icon: 2, time: 1000})
                        }
                    }
                });
            });
        }
    }


</script>
</body>
</html>