<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 工程项目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/Nav" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/Navlist" data-title="列表管理" href="javascript:void(0)">列表管理</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/Comment" data-title="评论管理" href="javascript:void(0)">评论管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 项目动态<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/Job" data-title="项目动态列表" href="javascript:void(0)">项目动态列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/User" data-title="用户列表" href="javascript:;">用户列表</a></li>

					</li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/Admin" data-title="系统管理员" href="javascript:void(0)">系统管理员</a></li>
					<li><a data-href="/admin/Company" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>