<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>frq</title>
</head>
<body>

<form action="http://xiaochengxu.com" method="post" enctype="multipart/form-data">
    <input type="file" name="imgs[]" multiple="multiple">
    <input type="file" name="imgs[]" multiple="multiple">
    <input type="file" name="imgs[]" multiple="multiple">
    <input type="file" name="img">
    <input type="file" name="imgf">
    <input type="submit" value="提交"/>

</form>

</body>
</html>